<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      {{ 'common.branding' | translate }}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggle()" [class.is-active]="!collapse">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [class.is-active]="!collapse">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/register">{{ 'common.navbar.register' | translate }}</a>
      <a class="navbar-item" routerLink="/track">{{ 'common.navbar.tracking' | translate }}</a>
    </div>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="content has-text-centered container">
    <p>
      {{ 'common.footer.title' | translate }}
      <small class="has-text-grey">{{ 'common.footer.subtitle' | translate }}</small>
      | <a href="https://www.facebook.com/anandamahidol.day/"><span class="icon"><i class="fas fa-facebook"></i></span> ANAN DAY</a>
    </p>
  </div>
</footer>
