<div class="columns">
  <div class="column is-half is-offset-one-quarter" *ngIf="tracking$ | async as tracking">
    <div class="box">
      <strong class="is-size-3">{{ 'tracking.details.code' | transloco }}: {{ tracking.register.track_code }}</strong>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column is-2 has-text-centered">
          <span class="icon is-large has-text-success"><fa-icon [icon]="faCheckSquare" size="3x"></fa-icon></span>
        </div>
        <div class="column is-10">
          <strong>{{ 'tracking.details.registered' | transloco }}</strong>
          <table class="table is-fullwidth">
            <tbody>
              <tr>
                <th>{{ 'tracking.details.name' | transloco }}</th>
                <td>{{ tracking.register.name }}</td>
              </tr>
              <tr>
                <th>{{ 'tracking.details.telephone' | transloco }}</th>
                <td>{{ tracking.register.telephone }}</td>
              </tr>
              <tr>
                <th>{{ 'tracking.details.shipping_address' | transloco }}</th>
                <td>{{ tracking.register.shipping_address }}</td>
              </tr>
              <tr>
                <th>{{ 'tracking.details.shipping_type' | transloco }}</th>
                <td>{{ tracking.register.shipping_type | shippingType | transloco }}</td>
              </tr>
              <tr>
                <th>{{ 'tracking.details.receipt_want' | transloco }}</th>
                <td>{{ tracking.register.receipt | receipt | transloco }}</td>
              </tr>
              <tr *ngIf="tracking.register.receipt === true">
                <th>{{ 'tracking.details.receipt_name' | transloco }}</th>
                <td>{{ tracking.register.receipt_name }}</td>
              </tr>
              <tr *ngIf="tracking.register.receipt === true">
                <th>{{ 'tracking.details.receipt_address' | transloco }}</th>
                <td>{{ tracking.register.receipt_address }}</td>
              </tr>
              <tr>
                <th>{{ 'tracking.details.donation_amount' | transloco }}</th>
                <td>{{ tracking.register.donation_amount }}</td>
              </tr>
              <tr>
                <th>{{ 'tracking.details.badge_amount' | transloco }}</th>
                <td>{{ tracking.register.badge_amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="columns">
        <div class="column is-2 has-text-centered">
          <span class="icon is-large" [class.not-checked]="!tracking.check" [class.has-text-danger]="tracking.check && !tracking.check.pass" [class.has-text-success]="tracking.check && tracking.check.pass"><fa-icon [icon]="faMoneyCheckAlt" size="3x"></fa-icon></span>
        </div>
        <div class="column is-10">
          <strong>{{ 'tracking.details.slip' | transloco }}</strong>
          <div>{{ tracking.check | checkStatusText | transloco }}</div>
          <div *ngIf="tracking.check">
            {{ 'tracking.details.checked_by' | transloco }} {{ tracking.check.checked_by }}
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="tracking.register.badge_amount > 0">
      <div class="columns">
        <div class="column is-2 has-text-centered">
          <span class="icon is-large has-text-success"><fa-icon [icon]="faGift" size="3x" [class.not-checked]="!tracking.badge"></fa-icon></span>
        </div>
        <div class="column is-10">
          <strong>{{ 'tracking.details.badge' | transloco }}</strong>
          <div>{{ tracking.badge | badgePrepare | transloco }}</div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="tracking.register.badge_amount > 0">
      <div class="columns">
        <div class="column is-2 has-text-centered">
          <span class="icon is-large has-text-success"><fa-icon [icon]="faShippingFast" size="3x" [class.not-checked]="!tracking.badge_shipping"></fa-icon></span>
        </div>
        <div class="column is-10">
          <strong>{{ 'tracking.details.badge_shipping' | transloco }}</strong>
          <div>{{ tracking.badge_shipping | badgeShipping | transloco }}</div>
          <div *ngIf="tracking.badge_shipping && tracking.register.shipping_type === 'registered'">
            {{ 'tracking.details.badge_shipping_code' | transloco }}: {{ tracking.badge_shipping.code }}
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="tracking.register.receipt">
      <div class="columns">
        <div class="column is-2 has-text-centered">
          <span class="icon is-large has-text-success"><fa-icon [icon]="faReceipt" size="3x" [class.not-checked]="!tracking.receipt"></fa-icon></span>
        </div>
        <div class="column is-10">
          <strong>{{ 'tracking.details.receipt' | transloco }}</strong>
          <div>{{ tracking.receipt | receiptPrepare | transloco }}</div>
          <div *ngIf="tracking.receipt">
            {{ 'tracking.details.receipt_code' | transloco }}: {{ tracking.receipt.code }}
          </div>
        </div>
      </div>
    </div>
    <div class="box" *ngIf="tracking.register.receipt">
      <div class="columns">
        <div class="column is-2 has-text-centered">
          <span class="icon is-large has-text-success"><fa-icon [icon]="faEnvelope" size="3x" [class.not-checked]="!tracking.receipt_shipping"></fa-icon></span>
        </div>
        <div class="column is-10">
          <strong>{{ 'tracking.details.receipt_shipping' | transloco }}</strong>
          <div>{{ tracking.receipt_shipping | receiptShipping | transloco }}</div>
          <div *ngIf="tracking.receipt_shipping && tracking.register.shipping_type === 'registered'">
            {{ 'tracking.details.receipt_shipping_code' | transloco }}: {{ tracking.receipt_shipping.code }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
