<div class="container">
  <div class="has-text-centered">
    <img src="/assets/poster.jpg">
  </div>
  <br />
  <div class="content">
    <h4>ขั้นตอนการบริจาคเงิน และจัดส่งเข็มวันอานันทมหิดล</h4>
    <ol>
      <li>
        <strong>บริจาคเงิน</strong> ผ่านทางบัญชีออมทรัพย์ ชื่อบัญชี "วันอานันทมหิดล" ธนาคารไทยพาณิชย์ สาขาสภากาชาดไทย เลขที่บัญชี <b>045-508231-4</b>
      </li>
      <li>
        <strong>ขอรับเข็มวันอานันทมหิดล</strong> ลงทะเบียนผู้บริจาค และติดตามสถานะการบริจาคผ่านทางเว็บไซต์ anandaydonation.docchula.com โดยเลือกวิธีการจัดส่ง
        <ul>
          <li><u>แบบธรรมดา</u> ไม่เสียค่าใช้จ่ายเพิ่มเติม ไม่สามารถตรวจสอบสถานะการจัดส่งได้</li>
          <li><u>แบบลงทะเบียน</u> เสียค่าใช้จ่ายเพิ่มเติม 40 บาท สำหรับการจัดส่งเข็มฯ และใบเสร็จ สามารถตรวจสอบสถานะการจัดส่งได้</li>
        </ul>
      </li>
    </ol>
    <p>ทางคณะแพทยศาสตร์ จุฬาฯ จะจัดส่งเข็มวันอานันทมหิดลไปยังที่อยู่ที่ท่านลงทะเบียนไว้โดยเร็ว</p>
    <ul>
      <li>เงินบริจาคทุก 100 บาท มีสิทธิ์ขอรับเข็มที่ระลึก 1 เข็ม</li>
      <li>ใบเสร็จสามารถนำไปลดหย่อนภาษีได้ 1 เท่า</li>
    </ul>
  </div>
</div>
