  <div class="container">
    <div class="box" id="register-box">
      <form [formGroup]="registerForm" (ngSubmit)="presubmit()">
        <div class="is-size-2 has-text-centered">{{ 'register.title' | transloco }}</div>
        <div class="is-size-6 has-text-centered">{{ 'register.subtitle' | transloco }}</div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.name' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="text" class="input" [placeholder]="'register.name' | transloco" formControlName="name">
              </div>
              <p class="help is-danger" *ngIf="name.dirty && name.errors && name.errors['required']">{{ 'register.missing' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.telephone' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="text" class="input" [placeholder]="'register.telephone' | transloco" formControlName="telephone">
              </div>
              <p class="help is-danger" *ngIf="telephone.dirty && telephone.errors && telephone.errors['required']">{{ 'register.missing' | transloco }}</p>
              <p class="help is-danger" *ngIf="telephone.dirty && telephone.errors && telephone.errors['pattern']">{{ 'register.telephone_wrong_format' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.email' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="text" class="input" [placeholder]="'register.email' | transloco" formControlName="email">
              </div>
              <p class="help is-danger" *ngIf="email.dirty && email.errors && email.errors['email']">{{ 'register.email_wrong_format' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.shipping-address' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea" [placeholder]="'register.shipping-address' | transloco" formControlName="shipping_address"></textarea>
              </div>
              <p class="help is-danger" *ngIf="shipping_address.dirty && shipping_address.errors && shipping_address.errors['required']">{{ 'register.missing' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.shipping-type.label' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" value="registered" formControlName="shipping_type" name="shipping_type"> {{ 'common.shipping_type.registered' | transloco }}
                </label>
                <label class="radio">
                  <input type="radio" value="normal" formControlName="shipping_type" name="shipping_type"> {{ 'common.shipping_type.normal' | transloco }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
          </div>
          <div class="field-body">
            <div class="has-text-danger">{{ 'register.shipping-type.fee' | transloco }}</div>
          </div>
        </div>
        <div class="is-size-2 has-text-centered">{{ 'register.receipt.label' | transloco }}</div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.receipt.label' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" [value]="true" formControlName="receipt" name="receipt"> {{ 'common.receipt.yes' | transloco }}
                </label>
                <label class="radio">
                  <input type="radio" [value]="false" formControlName="receipt" name="receipt"> {{ 'common.receipt.no' | transloco }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
          </div>
          <div class="field-body">
            <div>{{ 'register.receipt.process' | transloco }}</div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
          </div>
          <div class="field-body">
            <label class="checkbox">
              <input type="checkbox" formControlName="receipt_same_details"> {{ 'register.receipt.details.same-as-shipping' | transloco }}
            </label>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.receipt.details.name' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="text" class="input" [placeholder]="'register.receipt.details.name' | transloco" formControlName="receipt_name">
              </div>
              <p class="help is-danger" *ngIf="receipt_name.dirty && registerForm.errors && registerForm.errors['receipt_name_required']">{{ 'register.missing' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.receipt.details.address' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea" [placeholder]="'register.receipt.details.address' | transloco" formControlName="receipt_address"></textarea>
              </div>
              <p class="help is-danger" *ngIf="receipt_address.dirty && registerForm.errors && registerForm.errors['receipt_address_required']">{{ 'register.missing' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="is-size-2 has-text-centered">{{ 'register.donation-details.title' | transloco }}</div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.donation-details.amount' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" class="input" [placeholder]="'register.donation-details.amount' | transloco" min="0" formControlName="donation_amount">
              </div>
              <p class="help is-danger" *ngIf="donation_amount.dirty && donation_amount.errors && donation_amount.errors['required']">{{ 'register.missing' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.donation-details.date' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="date" class="input" formControlName="donation_date">
              </div>
              <p class="help is-danger" *ngIf="donation_date.errors && donation_date.errors['required']">{{ 'register.missing' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.donation-details.time' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="time" class="input" formControlName="donation_time">
              </div>
              <p class="help is-danger" *ngIf="donation_time.errors && donation_time.errors['required']">{{ 'register.missing' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.donation-details.slip' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="file has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" (change)="onFileChanged($event)" accept="image/*">
                    <span class="file-cta">
                      <span class="file-label">
                        {{ 'register.donation-details.choose-file' | transloco }}
                      </span>
                    </span>
                    <span class="file-name">
                      {{ fileName }}
                    </span>
                  </label>
                </div>
              </div>
              <p class="help is-danger" *ngIf="slip_file.dirty && slip_file.errors && slip_file.errors['required']">{{ 'register.missing_file' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
          </div>
          <div class="field-body">
            <div>{{ 'register.donation-details.slip-file-restriction' | transloco }}</div>
          </div>
        </div>
        <div class="is-size-2 has-text-centered">{{ 'register.badge.title' | transloco }}</div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'register.badge.amount' | transloco }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="number" class="input" [placeholder]="'register.badge.amount' | transloco" min="0" formControlName="badge_amount">
              </div>
              <p class="help is-danger" *ngIf="badge_amount.dirty && badge_amount.errors && badge_amount.errors['required']">{{ 'register.missing' | transloco }}</p>
              <p class="help is-danger" *ngIf="badge_amount.dirty && registerForm.errors && registerForm.errors['max_badge_amount']">{{ 'register.badge_exceed' | transloco }}</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
          </div>
          <div class="field-body">
            <div>{{ 'register.badge.condition' | transloco }}</div>
          </div>
        </div>
        <re-captcha #captchaRef="reCaptcha" (resolved)="$event && submit($event)"></re-captcha>
        <input type="submit" class="button is-primary is-medium is-rounded is-fullwidth" [value]="'register.register' | transloco" [disabled]="!registerForm.valid || submitting">
      </form>
    </div>
  </div>
