<div class="columns">
  <div class="column is-half is-offset-one-quarter has-text-centered">
    <div class="box" id="recovery-box">
      <div class="is-size-2">{{ 'recovery.title' | translate }}</div>
      <form [formGroup]="recoveryForm" (ngSubmit)="submit()">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'recovery.name' | translate }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="text" class="input" [placeholder]="'recovery.name' | translate" formControlName="name">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">{{ 'recovery.telephone' | translate }}</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input type="text" class="input" [placeholder]="'recovery.telephone' | translate" formControlName="telephone">
              </div>
            </div>
          </div>
        </div>
        <input type="submit" class="button is-primary is-medium is-rounded" [value]="'recovery.search' | translate">
      </form>
    </div>
  </div>
</div>
